body {
    font-family: Arial, sans-serif;
    color:darkgreen;
    background-color: bisque;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.back-home {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #d35400;
  font-weight: bold;
}
